
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
	--font:'Open Sans', sans-serif;
	--font-medium: 'GothamMedium', sans-serif;
	--font-bold: 'GothamBold', sans-serif;
	--font-book: 'GothamBook', sans-serif;
	// --font-title: 'Pacifico', cursive;
	--grey: #262626;
	--blue: rgb(0, 196, 196);
	--red: #ff6033;
	--shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}