.form {
    position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    top: -500px;
    width: 100%;
    background: url('../images/bg-contact.png') #fff no-repeat bottom;    
    padding: 90px 50px;
    color: #000;
    font: 18px var(--font-book);

    &__title {
        margin: 0 auto 50px;        
        &::before {
            border-top: 2px solid #000;
        }
    }
    &__address {        
        & p {
            color: #000;
        }
        &--address, &--tel, &--email, &--clock {
            display: flex;
            margin-bottom: 40px;
        }
        &--clock {
            margin-bottom: 0;
        }
       .icon {
            height: 18px;
            width: 18px;
            color: #7e5aff;
            margin-right: 10px;
        } 
    }
    &__data {
        &--input {
            width: 100%;
            height: 40px;
            background-color: transparent;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid #d5d9de;
            font: 18px var(--font-book);
            &:focus {
                border-bottom: 1px solid #000;
            }
        }
        &--btn {
            float: right;
        }
    }
    
}
.footer {
    padding: 200px 0;
    background: url('../images/bg-footer.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    font: 14px var(--font-book);
    position: relative;
    
    &__span {
        margin: 0 20px;
    }
   .heart {
        width: 15px;
        height: 15px;
    }
}